body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    color: #000000DE;
    font: 13px arial, sans-serif;
    margin: 5px;
    padding: 0px 0px 0px 15px;
    text-align-last: right;
    height: px;
    cursor: pointer;
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 10px;
}


.nav .sign_in {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    cursor: default;
    text-decoration: none;
    line-height: 28px;
    padding: 1px 12px;
    font-size: 14px;
    color: white;
    background:  #4285f4;
    margin-right: 20px;
}

.nav .fa-th {
    margin-top: 8px;
    font-size: 18px;
    color: gray;
    margin-right: 20px;
    cursor: pointer;
}

.search,
.images,
.advanced {
    margin-top: 8px;
}

.nav .fa-th:hover{
    color: #000;
}

.nav a {
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    font-size: 13px;
}

.search:hover,
.images:hover,
.advanced:hover {
    color: gray
}


.main_container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    text-align: center;
}

.logo_subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 388px;
    top: 75px;
    position: absolute;
}
._container {
    margin: 24px;
    display: flex;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #dfe1e5;
    box-shadow: 2px;
    border-radius: 24px;
    height: 46px;
    width: 570px;
}

._container:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.icon {
    fill: currentColor;
    height: 20px;
    margin: 14px;
    color: #9aa0a6;
}

.search_bar {
    background-color: transparent;
    font: 16px arial, sans-serif;
    line-height: 34px;
    text-align: left; 
    padding-top: 4px;
}

.search_bar,
.search_bar input,
.search_bar:hover {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}


.microphone,
.search_icon2,
.camera {
    fill: currentColor;
    margin: 10px;
    color: #9aa0a6;
    cursor: pointer;
}
.search_i_am_lucky {
    background-color: transparent;
    position: absolute;
    left: 30%;
}

.google_search input,
.lucky input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 8px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer; 
}

.google_search input:hover,
.lucky input:hover{
    box-shadow: 0 1px 4px 0 gray;
    outline: none;
    border-color: rgba(223,225,229,0);
}

.search_icon2 {
    background: transparent;
    border: none;
}

.search_icon2:focus {
    outline: none;
}

.icon2 {
    color: #4285f4;
}

.camera {
    height: 24px;
    width: 24px;
    background: url(https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png) 0 0 no-repeat;
    background-size: 24px;  
    padding: 0 8px;
}

.goog_logo {
    background-position: 0 -35px;
    height: 33px;
    width: 92px;
    display: block;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    margin: 8px 4px;
    text-align: right;
}

.nav_bar_advanced {
    background: transparent;
    border: none;
}

.nav_bar_advanced:focus {
    outline: none;
}

.second_column2_input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 28px;
    padding: 1px 8px;
    width: 570px;
}

.second_column2_input:focus {
    outline: none;
}

.bar2 {
    color: #d93025;
    margin: 25px 35px;
    margin-left: 10px;
    font-size: 20px;
    height: 23px;
}

.line {
    border-bottom: 1px solid #ebebeb;   
}


.first_column2 {
    font-size: 13px;
    min-width: 167px;
    height: 42px;
    color: #222;
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
    padding-top:8px;
}

.third_column2 {
    display: inline-block;
    width: 400px;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size:11px;
    padding-left:5px;
    vertical-align: middle;
    position: relative;
    padding-top:8px;
}

._action {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin-top: 43px;
}

.text_monospace {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.third_column1 {
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
}

.first_column1 {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 17px;
}

.nav0 {
    background: #f1f1f1;
    height: 60px;
}

.adv_search {
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    height: 30px;
    font-size: 11px;
    margin-left: 661px;
    margin-top: 16px;
    width: 118px;
    font-weight: 700;
    
}



